<ix:DetailPage>
  <ix:DetailPageMenuBar ID="DetailPageMenuBar1" runat="server">
<ix:EditActionLink Override="true" Visible="False" runat="server"/>
<ix:AddEntryActionLink Override="true" Visible="False" runat="server"/>
<ix:CloneActionLink Override="true" Visible="false" runat="server"/>
<ix:DeleteActionLink Override="true" Visible="True" runat="server"/>
<ix:HardDeleteActionLink Override="true" Visible="false" runat="server"/>
<ix:SaveAddNewActionLink Override="true" Visible="False" runat="server"/>
<ix:SaveActionLink Override="true" Visible="true" runat="server"/>
<ix:SaveEditActionLink Override="true" Visible="False" runat="server"/>
<ix:SaveExitActionLink runat="server" Visible="true" Override="true"/>
<ix:SecurityActionLink Override="true" Visible="true" runat="server"/>
  </ix:DetailPageMenuBar>
  <ix:DetailSection Title="Checklist Details" ModernIcon="Raven/Icons/BrightBlue_48/note21.png" meta:resourcekey="DetailSection0" ResourceKey="DetailSection0">
    <ix:FieldArea>
<ix:Field Caption="Audit Name" For="Assessment" SpellCheck="false" Span="true" meta:resourcekey="Field0" ResourceKey="Field0"/>
<ix:Field For="Assessment.Location" DisplayAs="String" Caption="Audit Location" meta:resourcekey="Field3" ResourceKey="Field3"/>
<ix:Field Span="true"/>
<ix:Field Caption="Questionaire Record No." For="RecordNo" meta:resourcekey="Field4" ResourceKey="Field4"/>
<ix:Field Caption="Checklist Name" For="AuditChecklist.Name" SpellCheck="false" meta:resourcekey="Field1" ResourceKey="Field1"/>
<ix:Field Caption="Description" For="AuditChecklist.Description" SpellCheck="false" span="true" meta:resourcekey="Field2" ResourceKey="Field2"/>
<ix:Field Caption="Published Checklist Record No." For="PubChecklist.RecordNo" Readonly="True" meta:resourcekey="Field5" ResourceKey="Field5"/>
<ix:Field For="pScore" width="5px"/>
    </ix:FieldArea>
<ix:WorkflowFields/>
  </ix:DetailSection>
  <ix:StageContainer UseDefaultDuringCreate="False" UseDefaultWhenCancelled="false" UseDefaultWhenCompleted="false" VisibleFor="Draft, Review" ID="StageContainer_Draft">
    <ix:TabsSection Title="Checklist" DisplayMode="Edit,View" ModernIcon="Raven/Icons/BrightBlue_48/note24.png" meta:resourcekey="TabsSection0" ResourceKey="TabsSection0">
      <ix:Tab Caption="Questions" meta:resourcekey="Tab0" ResourceKey="Tab0">
        <ix:GridSection CSSClass="hidePencil" AllowSorting="false" For="Responses" HideGroupAddButton="true" ID="ResponsesGridSection" EditLinkTarget="popup" DisplayEditColumn="true" DisplayMode="View,Edit" IsCollapsed="false" UseCookies="false" Pagesize="500">
          <Menu>
<ix:GridCreateActionLink Override="true" Visible="false"/>
<ix:GridDeleteActionLink Override="true" Visible="false"/>
          </Menu>
          <Filters>
            <ix:Filter PredicateOperator="Or">
              <ix:CommonPredicate For="IsVisible" Type="Equal">
                <ix:Value>
True
                </ix:Value>
              </ix:CommonPredicate>
            </ix:Filter>
          </Filters>
          <Sorting>
<ix:Sort By="RespSection.SortOrder"/>
<ix:Sort By="SortOrder"/>
          </Sorting>
          <grouping>
<ix:Group By="RespSection"/>
          </grouping>
          <aliases>
<ix:Alias For="PubQuestion.Template.Template" Name="PubQuestionTemplate"/>
<ix:Alias For="PubQuestion.IsAnswerReq" Name="IsAnswerReq"/>
<ix:Alias For="PubQuestion.Code" Name="PubQuestionCode"/>
<ix:Alias For="PubQuestion.QuestionText" Name="PubQuestionText"/>
<ix:Alias For="PubQuestion.Hint" Name="PubQuestionHint"/>
<ix:Alias For="PubAnswer.Template.Template" Name="Temp"/>
<ix:Alias For="PubAnswer.Color.Value" Name="P2"/>
<ix:Alias For="PubAnswer.Color.TextColor.Value" Name="P3"/>
<ix:Alias For="PubAnswer.Points" Name="P4"/>
<ix:Alias For="IsAnswered"/>
<ix:Alias For="IsComMiss"/>
<ix:Alias For="IsFindingMiss"/>
          </aliases>
          <Columns>
            <ix:TemplateColumn For="PubQuestionText">
              <template>
                <div class="required_<%# Container.ViewData.Eval("IsAnswerReq") %>" title="Answer Required" style="float:left;font-weight:normal;white-space: pre-wrap;display:<%# Container.ViewData.Eval("IsAnswerReq").ToString() == "True" && Container.ViewData.Eval("IsAnswered").ToString() == "True" ? "none" :  Container.ViewData.Eval("IsAnswerReq").ToString() == "False"  ? "none" :  "inline-block" %>">
*
                </div>
<%# String.Format(Container.ViewData.Eval("PubQuestionTemplate").ToString(), Container.ViewData.Eval("PubQuestionCode").ToString(), Container.ViewData.Eval("PubQuestionText").ToString(), Container.ViewData.Eval("PubQuestionHint").ToString()) %>
              </template>
            </ix:TemplateColumn>
            <ix:MergeColumn For="PubQuestion.AllowNA" Caption="N/A" width="5px" Visible="true" HeaderTooltip="Flag the Question as Not-Applicable in this context." meta:resourcekey="MergeColumn5" ResourceKey="MergeColumn5">
              <MappedColumns>
<ix:Column For="IsNA" MapValue="True" EditMode="inline"/>
              </MappedColumns>
            </ix:MergeColumn>
            <ix:MergeColumn For="PubQuestion.AnswerType.AnswerField.Value" Caption="Answer" meta:resourcekey="MergeColumn0" ResourceKey="MergeColumn0">
              <MappedColumns>
                <ix:TemplateColumn For="PubAnswer" EditMode="inline" MapValue="PubAnswer">
                  <Template>
<%# String.Format(Container.ViewData.Eval("Temp").ToString(), Container.ViewData.Eval("PubAnswer").ToString(), Container.ViewData.Eval("P2").ToString(), Container.ViewData.Eval("P3").ToString(), Container.ViewData.Eval("P4").ToString()) %>
                  </Template>
                </ix:TemplateColumn>
<ix:Column DisplayAs="List" EditMode="popup" FetchAs="Collection" For="PubAnswers" MapValue="PubAnswers"/>
<ix:Column EditMode="popup" For="Text" MapValue="Text"/>
<ix:Column EditMode="inline" For="Float" HorizontalAlign="right" MapValue="Float"/>
<ix:Column EditMode="inline" For="Checkbox" MapValue="Checkbox"/>
<ix:Column EditMode="inline" For="Date" Format="d" MapValue="Date"/>
<ix:Column EditMode="popup" For="File" MapValue="File"/>
              </MappedColumns>
            </ix:MergeColumn>
            <ix:MergeColumn For="PubQuestion.AnswerType.ShowUoM" Caption="Unit" width="5px" Visible="false" meta:resourcekey="MergeColumn1" ResourceKey="MergeColumn1">
              <MappedColumns>
<ix:Column EditMode="inline" For="UoM" MapValue="True"/>
              </MappedColumns>
            </ix:MergeColumn>
            <ix:MergeColumn For="IsComMiss" Caption="Comment" width="20%" meta:resourcekey="MergeColumn3" ResourceKey="MergeColumn3">
              <MappedColumns>
                <ix:TemplateColumn MapValue="True" For="Comments" EditMode="inline">
                  <Template>
                    <div class="required_<%# Container.ViewData.Eval("IsComMiss") %>" title="Comment Required">
*
                    </div>
Comment Required
                  </Template>
                </ix:TemplateColumn>
<ix:Column EditMode="inline" For="Comments" MapValue="False"/>
              </MappedColumns>
            </ix:MergeColumn>
            <ix:TemplateColumn For="NbFindings" HorizontalAlign="center" width="5px" Caption="Finding" meta:resourcekey="TemplateColumn0" ResourceKey="TemplateColumn0">
              <Template>
                <div class="required_<%# Container.ViewData.Eval("IsFindingMiss") %>" title="Finding Required">
*
                </div>
<%# String.Format(ApplicationSettings.Get("CFW_PreferencesObject","AttachmentTemp",""),
HttpEnvironment.SystemApplicationPath,
Container.ViewData.Eval("Id"),
ImageHelper.GetVersionedPath("Grid/add.png"),
"",
Container.ViewData.Eval("NbFindings").ToString()=="0" ? "none": "inline-block",
ImageHelper.GetStaticPath("Raven/Icons/BrightBlue_48/attention5.png"),
"",
"AuditMgmt_Response_Popup_Findings",
"AuditMgmt_FindingObject",
"CFW_ResponseObject.Findings"
) %>
              </Template>
            </ix:TemplateColumn>
            <ix:TemplateColumn For="NbDocs" HorizontalAlign="center" width="5px" Caption="Evidence" meta:resourcekey="TemplateColumn2" ResourceKey="TemplateColumn2">
              <Template>
<%# String.Format(ApplicationSettings.Get("CFW_PreferencesObject","AttachmentTemp",""),
HttpEnvironment.SystemApplicationPath,
Container.ViewData.Eval("Id"),
ImageHelper.GetVersionedPath("Grid/add.png"),
"",
Container.ViewData.Eval("NbDocs").ToString()=="0" ? "none": "inline-block",
ImageHelper.GetStaticPath("Raven/Icons/BrightBlue_48/folder232.png"),
"",
"AuditMgmt_Response_Popup_Docs",
"AuditMgmt_DocObject",
"AuditMgmt_ResponseObject.Docs"
) %>
              </Template>
            </ix:TemplateColumn>
          </Columns>
        </ix:GridSection>
      </ix:Tab>
      <ix:Tab Caption="Progress" meta:resourcekey="Tab3" ResourceKey="Tab3">
        <ix:GridSection AllowSorting="false" For="RespSections:AuditMgmt_RespSectionObject" HideGroupAddButton="true" ID="SortSectionsGridSection" Title="Questions" DisplayEditColumn="false" DisplayMode="View,Edit" meta:resourcekey="GridSection2" ResourceKey="GridSection2">
          <Menu>
<ix:GridCreateActionLink Override="true" Visible="false"/>
<ix:GridDeleteActionLink Override="true" Visible="false"/>
<ix:GridArchiveActionLink Override="true" Visible="false"/>
<ix:GridDataImportActionLink Override="true" Visible="false"/>
          </Menu>
          <Sorting>
<ix:Sort By="SortOrder"/>
          </Sorting>
          <Columns>
<ix:Column For="PubSection.Name"/>
<ix:Column For="Progress" width="5px"/>
<ix:Column For="pScore" width="5px"/>
          </Columns>
        </ix:GridSection>
      </ix:Tab>
    </ix:TabsSection>
    <ix:GridSection For="Findings:AuditMgmt_FindingObject" Title="Findings" ID="FindingsGridSection" HideGroupAddButton="true" DisplayEditColumn="false" ModernIcon="Raven/Icons/BrightBlue_48/folder232.png" meta:resourcekey="GridSection0" ResourceKey="GridSection0">
      <Menu>
<ix:GridCreateActionLink Override="true" Visible="false" openin="popup"/>
<ix:GridDeleteActionLink Override="true" Visible="false"/>
<ix:GridArchiveActionLink Override="true" Visible="true"/>
      </Menu>
      <aliases>
<ix:Alias For="Response.PubQuestion.AnswerType.AnswerField.Value" Name="AnswerType"/>
<ix:Alias For="FindingSeverity.Color.Value" Name="BC"/>
<ix:Alias For="FindingSeverity.Color.TextColor.Value" Name="TC"/>
<ix:Alias For="FindingSeverity.CriticalLevel" Name="CriticalLevel"/>
<ix:Alias For="Response.Id"/>
<ix:Alias For="Questionnaire.Id"/>
<ix:Alias For="Questionnaire.NbDocs"/>
<ix:Alias For="FindingSeverity.EnableWorkflow" Name="EnableWorkflow"/>
<ix:Alias For="NbOfAP" Name="NbOfAP"/>
<ix:Alias For="NbOfCAR" Name="NbOfCAR"/>
      </aliases>
      <Sorting>
<ix:Sort By="CriticalLevel" Direction="Descending"/>
      </Sorting>
      <Columns>
<ix:Column For="Name" LinkTo="default" LinkTarget="popup" Caption="Title" meta:resourcekey="Column0" ResourceKey="Column0"/>
<ix:Column For="ShorDescription" DisplayAs="Truncate"/>
<ix:Column For="Description" Caption="Finding Description" meta:resourcekey="Column4" ResourceKey="Column4"/>
<ix:Column For="ReguRequirement"/>
<ix:Column For="Response.PubQuestion.QuestionText" Caption="Question" width="200px" meta:resourcekey="Column1" ResourceKey="Column1"/>
        <ix:MergeColumn For="Response.PubQuestion.AnswerType.AnswerField.Value" Caption="Answer" meta:resourcekey="MergeColumn2" ResourceKey="MergeColumn2">
          <MappedColumns>
<ix:Column For="Response.PubAnswer" MapValue="PubAnswer"/>
<ix:Column DisplayAs="List" FetchAs="Collection" For="Response.PubAnswers" MapValue="PubAnswers"/>
<ix:Column For="Response.Text" MapValue="Text"/>
<ix:Column For="Response.Float" HorizontalAlign="right" MapValue="Float"/>
<ix:Column For="Response.Checkbox" MapValue="Checkbox"/>
<ix:Column For="Response.Date" Format="d" MapValue="Date"/>
<ix:Column For="Response.File" MapValue="File"/>
          </MappedColumns>
        </ix:MergeColumn>
        <ix:TemplateColumn For="FindingSeverity" width="100px">
          <template>
            <div class="prettyCell" style="background-color:<%# Container.ViewData.Eval("BC") %>;color:<%# Container.ViewData.Eval("TC") %>;">
<%# Container.ViewData.Eval("FindingSeverity") %>
            </div>
          </template>
        </ix:TemplateColumn>
        <ix:TemplateColumn Caption="Action Issued" HorizontalAlign="Center" Width="100px" meta:resourcekey="TemplateColumn3" ResourceKey="TemplateColumn3">
          <Template>
            <div class="nbAttachments" title="Action Issued" style="background-image: url(<%= ImageHelper.GetStaticPath("Raven/Icons/BrightBlue_48/calendar101.png") %>);float:left;font-weight:normal;white-space: pre-wrap;display:<%# Container.ViewData.Eval("NbOfAP").ToString() == "0" && Container.ViewData.Eval("NbOfCAR").ToString() == "0" ? "none" :  "inline-block" %>"/>
            </Template>
          </ix:TemplateColumn>
        </Columns>
      </ix:GridSection>
      <ix:GridSection For="Docs:AuditMgmt_DocObject" HideGroupAddButton="true" Visible="true" DisplayEditColumn="false" EditLinkTarget="popup" Title="Objective Evidence" ModernIcon="Raven/Icons/BrightBlue_48/briefcase17.png" meta:resourcekey="GridSection1" ResourceKey="GridSection1">
        <Menu>
<ix:GridCreateActionLink Override="true" Visible="true" OpenIn="popup"/>
<ix:GridDeleteActionLink Override="true" Visible="false"/>
<ix:GridArchiveActionLink Override="true" Visible="true"/>
        </Menu>
        <Sorting>
<ix:Sort By="RecordNo" Direction="Ascending"/>
        </Sorting>
        <Columns>
<ix:Column For="RecordNo" LinkTo="default" LinkTarget="popup" width="5px"/>
<ix:Column For="Title" wrap="true"/>
<ix:Column For="Description" DisplayAs="Truncate" wrap="true"/>
          <ix:MergeColumn For="Type.Code" Caption="Attachment" meta:resourcekey="MergeColumn4" ResourceKey="MergeColumn4">
            <MappedColumns>
<ix:Column MapValue="FILE" For="File"/>
<ix:Column MapValue="URL" For="URL"/>
<ix:Column MapValue="DOCCTRL" For="Document"/>
              <ix:TemplateColumn For="Type" MapValue="PRIVATEDOCATTACHMENT" Caption="Attachment" LinKTarget="popup" width="50px" meta:resourcekey="TemplateColumn4" ResourceKey="TemplateColumn4">
                <template>
                  <a class="openInPopup" href="<%= HttpEnvironment.SystemApplicationPath %>/Forms/AuditMgmt_PrivateDocAttachment_Popup/View?entityId=<%# Container.ViewData.Eval("Id") %>">
View Private Document Attachment
                  </a>
                </template>
              </ix:TemplateColumn>
            </MappedColumns>
          </ix:MergeColumn>
          <ix:MergeColumn For="Source.Code" Caption="Source" meta:resourcekey="MergeColumn6" ResourceKey="MergeColumn6">
            <MappedColumns>
<ix:Column MapValue="QUESTIONNAIRE" For="Questionnaire.Checklist"/>
<ix:Column MapValue="RESPONSE" For="Response.PubQuestion.QuestionText"/>
<ix:Column MapValue="FINDING" For="Finding"/>
            </MappedColumns>
          </ix:MergeColumn>
        </Columns>
      </ix:GridSection>
    </ix:StageContainer>
    <ix:StageContainer UseDefaultDuringCreate="False" UseDefaultWhenCancelled="True" UseDefaultWhenCompleted="True" ID="StageContainer_Completed">
      <ix:TabsSection Title="Checklist" ModernIcon="Raven/Icons/BrightBlue_48/note24.png" meta:resourcekey="TabsSection1" ResourceKey="TabsSection1">
        <ix:Tab Caption="Questions" meta:resourcekey="Tab1" ResourceKey="Tab1">
          <ix:GridSection CSSClass="hidePencil" AllowSorting="false" For="Responses" HideGroupAddButton="true" ID="ResponsesGridSection_Complete" EditLinkTarget="popup" DisplayEditColumn="true" RowSelectionMode="None" IsCollapsed="false" UseCookies="false" Pagesize="500">
            <Menu>
<ix:GridCreateActionLink Override="true" Visible="false"/>
<ix:GridDeleteActionLink Override="true" Visible="false"/>
<ix:GridArchiveActionLink Override="true" Visible="false"/>
<ix:GridDataImportActionLink Override="true" Visible="false"/>
<ix:GridListAllActionLink Override="true" Visible="True"/>
            </Menu>
            <Filters>
              <ix:Filter PredicateOperator="Or">
                <ix:CommonPredicate For="IsVisible" Type="Equal">
                  <ix:Value>
True
                  </ix:Value>
                </ix:CommonPredicate>
              </ix:Filter>
            </Filters>
            <Sorting>
<ix:Sort By="RespSection.SortOrder"/>
<ix:Sort By="SortOrder"/>
            </Sorting>
            <grouping>
<ix:Group By="RespSection"/>
            </grouping>
            <aliases>
<ix:Alias For="PubQuestion.Template.Template" Name="PubQuestionTemplate"/>
<ix:Alias For="PubQuestion.IsAnswerReq" Name="IsAnswerReq"/>
<ix:Alias For="PubQuestion.Code" Name="PubQuestionCode"/>
<ix:Alias For="PubQuestion.QuestionText" Name="PubQuestionText"/>
<ix:Alias For="PubQuestion.Hint" Name="PubQuestionHint"/>
<ix:Alias For="PubAnswer.Template.Template" Name="Temp"/>
<ix:Alias For="PubAnswer.Color.Value" Name="P2"/>
<ix:Alias For="PubAnswer.Color.TextColor.Value" Name="P3"/>
<ix:Alias For="PubAnswer.Points" Name="P4"/>
<ix:Alias For="IsAnswered"/>
<ix:Alias For="IsComMiss"/>
<ix:Alias For="IsFindingMiss"/>
<ix:Alias For="NbFindings"/>
<ix:Alias For="NbDocs"/>
            </aliases>
            <Columns>
              <ix:TemplateColumn For="PubQuestionText">
                <template>
                  <div class="required_<%# Container.ViewData.Eval("IsAnswerReq") %>" title="Answer Required" style="float:left;font-weight:normal;white-space: pre-wrap;display:<%# Container.ViewData.Eval("IsAnswerReq").ToString() == "True" && Container.ViewData.Eval("IsAnswered").ToString() == "True" ? "none" :  Container.ViewData.Eval("IsAnswerReq").ToString() == "False"  ? "none" :  "inline-block" %>">
*
                  </div>
<%# String.Format(Container.ViewData.Eval("PubQuestionTemplate").ToString(), Container.ViewData.Eval("PubQuestionCode").ToString(), Container.ViewData.Eval("PubQuestionText").ToString(), Container.ViewData.Eval("PubQuestionHint").ToString()) %>
                </template>
              </ix:TemplateColumn>
              <ix:MergeColumn For="PubQuestion.AllowNA" Caption="N/A" width="5px" Visible="true" HeaderTooltip="Flag the Question as Not-Applicable in this context." meta:resourcekey="MergeColumn5" ResourceKey="MergeColumn5">
                <MappedColumns>
<ix:Column For="IsNA" MapValue="True"/>
                </MappedColumns>
              </ix:MergeColumn>
              <ix:MergeColumn For="PubQuestion.AnswerType.AnswerField.Value" Caption="Answer" meta:resourcekey="MergeColumn7" ResourceKey="MergeColumn7">
                <MappedColumns>
                  <ix:TemplateColumn For="PubAnswer" MapValue="PubAnswer">
                    <Template>
<%# String.Format(Container.ViewData.Eval("Temp").ToString(), Container.ViewData.Eval("PubAnswer").ToString(), Container.ViewData.Eval("P2").ToString(), Container.ViewData.Eval("P3").ToString(), Container.ViewData.Eval("P4").ToString()) %>
                    </Template>
                  </ix:TemplateColumn>
<ix:Column DisplayAs="List" FetchAs="Collection" For="PubAnswers" MapValue="PubAnswers"/>
<ix:Column For="Text" MapValue="Text"/>
<ix:Column For="Float" HorizontalAlign="right" MapValue="Float"/>
<ix:Column For="Checkbox" MapValue="Checkbox"/>
<ix:Column For="Date" Format="d" MapValue="Date"/>
<ix:Column For="File" MapValue="File"/>
                </MappedColumns>
              </ix:MergeColumn>
              <ix:MergeColumn For="PubQuestion.AnswerType.ShowUoM" Caption="Unit" width="5px" Visible="false" meta:resourcekey="MergeColumn8" ResourceKey="MergeColumn8">
                <MappedColumns>
<ix:Column For="UoM" MapValue="True"/>
                </MappedColumns>
              </ix:MergeColumn>
<ix:Column For="Comments"/>
              <ix:TemplateColumn For="NbFindings" Caption="Finding" LinKTarget="popup" width="50px" meta:resourcekey="TemplateColumn5" ResourceKey="TemplateColumn5">
                <template>
<%# String.Format(ApplicationSettings.Get("CFW_PreferencesObject","AttachmentTemp",""),
HttpEnvironment.SystemApplicationPath,
Container.ViewData.Eval("Id"),
"",
"",
Container.ViewData.Eval("NbFindings").ToString()=="0" ? "none": "inline-block",
ImageHelper.GetStaticPath("Raven/Icons/BrightBlue_48/attention5.png"),
"",
"AuditMgmt_Response_Popup_Findings_Readonly",
"",
"CFW_ResponseObject.Findings"
) %>
                </template>
              </ix:TemplateColumn>
              <ix:TemplateColumn For="NbDocs" Caption="Evidence" LinKTarget="popup" width="50px" meta:resourcekey="TemplateColumn6" ResourceKey="TemplateColumn6">
                <template>
                  <div class="nbAttachments" style="float:left;display:<%# Container.ViewData.Eval("NbDocs").ToString() == "0"  ? "none" :  "inline-block" %>;">
                    <a class="openInPopup" href="<%= HttpEnvironment.SystemApplicationPath %>/Forms/AuditMgmt_Response_Popup_Docs_Readonly/View?entityId=<%# Container.ViewData.Eval("Id") %>">
                      <div class="nbAttachments" style="background-image:url(&apos;<%=ImageHelper.GetStaticPath("Raven/Icons/BrightBlue_48/folder232.png") %>&apos;);float:left;font-weight:normal;white-space: pre-wrap;">
&nbsp;
                      </div>
                    </a>
                  </div>
                </template>
              </ix:TemplateColumn>
            </Columns>
          </ix:GridSection>
        </ix:Tab>
        <ix:Tab Caption="Progress" meta:resourcekey="Tab2" ResourceKey="Tab2">
          <ix:GridSection AllowSorting="false" For="RespSections:AuditMgmt_RespSectionObject" HideGroupAddButton="true" ID="SortSectionsGridSection_Complete" Title="Progress" DisplayEditColumn="false" DisplayMode="View,Edit" meta:resourcekey="GridSection3" ResourceKey="GridSection3">
            <Menu>
<ix:GridCreateActionLink Override="true" Visible="false"/>
<ix:GridDeleteActionLink Override="true" Visible="false"/>
<ix:GridArchiveActionLink Override="true" Visible="false"/>
<ix:GridDataImportActionLink Override="true" Visible="false"/>
<ix:GridListAllActionLink Override="true" Visible="True"/>
            </Menu>
            <Sorting>
<ix:Sort By="SortOrder"/>
            </Sorting>
            <Columns>
<ix:Column For="PubSection.Name"/>
<ix:Column For="Progress" width="5px"/>
<ix:Column For="pScore" width="5px"/>
            </Columns>
          </ix:GridSection>
        </ix:Tab>
      </ix:TabsSection>
      <ix:GridSection For="Findings:AuditMgmt_FindingObject" Title="Findings" ID="FindingsGridSection_Complete" HideGroupAddButton="true" DisplayEditColumn="false" RowSelectionMode="None" ModernIcon="Raven/Icons/BrightBlue_48/folder232.png" meta:resourcekey="GridSection4" ResourceKey="GridSection4">
        <Menu>
<ix:GridCreateActionLink Override="true" Visible="false" openin="popup"/>
<ix:GridDeleteActionLink Override="true" Visible="false"/>
<ix:GridListAllActionLink Override="true" Visible="True"/>
        </Menu>
        <aliases>
<ix:Alias For="Response.PubQuestion.AnswerType.AnswerField.Value" Name="AnswerType"/>
<ix:Alias For="FindingSeverity.Color.Value" Name="BC"/>
<ix:Alias For="FindingSeverity.Color.TextColor.Value" Name="TC"/>
<ix:Alias For="FindingSeverity.CriticalLevel" Name="CriticalLevel"/>
<ix:Alias For="Response.Id"/>
<ix:Alias For="FindingSeverity.EnableWorkflow" Name="EnableWorkflow"/>
<ix:Alias For="NbOfAP" Name="NbOfAP"/>
<ix:Alias For="NbOfCAR" Name="NbOfCAR"/>
        </aliases>
        <Sorting>
<ix:Sort By="CriticalLevel" Direction="Descending"/>
        </Sorting>
        <Columns>
<ix:Column For="Name" LinkTo="default" LinkTarget="popup" Caption="Title" meta:resourcekey="Column2" ResourceKey="Column2"/>
<ix:Column For="ShorDescription" DisplayAs="Truncate"/>
<ix:Column For="Description" Caption="Finding Description" meta:resourcekey="Column5" ResourceKey="Column5"/>
<ix:Column For="ReguRequirement"/>
<ix:Column For="Response.PubQuestion.QuestionText" Caption="Question" width="200px" meta:resourcekey="Column3" ResourceKey="Column3"/>
          <ix:MergeColumn For="Response.PubQuestion.AnswerType.AnswerField.Value" Caption="Answer" meta:resourcekey="MergeColumn9" ResourceKey="MergeColumn9">
            <MappedColumns>
<ix:Column For="Response.PubAnswer" MapValue="PubAnswer"/>
<ix:Column DisplayAs="List" FetchAs="Collection" For="Response.PubAnswers" MapValue="PubAnswers"/>
<ix:Column For="Response.Text" MapValue="Text"/>
<ix:Column For="Response.Float" HorizontalAlign="right" MapValue="Float"/>
<ix:Column For="Response.Checkbox" MapValue="Checkbox"/>
<ix:Column For="Response.Date" Format="d" MapValue="Date"/>
<ix:Column For="Response.File" MapValue="File"/>
            </MappedColumns>
          </ix:MergeColumn>
          <ix:TemplateColumn For="FindingSeverity" width="100px">
            <template>
              <div class="prettyCell" style="background-color:<%# Container.ViewData.Eval("BC") %>;color:<%# Container.ViewData.Eval("TC") %>;">
<%# Container.ViewData.Eval("FindingSeverity") %>
              </div>
            </template>
          </ix:TemplateColumn>
          <ix:TemplateColumn Caption="Action Issued" HorizontalAlign="center" Width="100px" meta:resourcekey="TemplateColumn8" ResourceKey="TemplateColumn8">
            <Template>
              <div class="nbAttachments" title="Action Issued" style="background-image: url(<%= ImageHelper.GetStaticPath("Raven/Icons/BrightBlue_48/calendar101.png") %>);float:left;font-weight:normal;white-space: pre-wrap;display:<%# Container.ViewData.Eval("NbOfAP").ToString() == "0" && Container.ViewData.Eval("NbOfCAR").ToString() == "0" ? "none" :  "inline-block" %>"/>
              </Template>
            </ix:TemplateColumn>
          </Columns>
        </ix:GridSection>
        <ix:GridSection For="Docs:AuditMgmt_DocObject" HideGroupAddButton="true" DisplayEditColumn="true" Visible="true" CSSClass="hidePencil" EditLinkTarget="popup" RowSelectionMode="None" Title="Objective Evidence" ID="ObjectiveEvidenceGridSection_Completed" ModernIcon="Raven/Icons/BrightBlue_48/briefcase17.png" meta:resourcekey="GridSection5" ResourceKey="GridSection5">
          <Menu>
<ix:GridCreateActionLink Override="true" Visible="false"/>
<ix:GridDeleteActionLink Override="true" Visible="false"/>
<ix:GridListAllActionLink Override="true" Visible="True"/>
          </Menu>
          <aliases>
<ix:Alias For="Id"/>
          </aliases>
          <Sorting>
<ix:Sort By="RecordNo" Direction="Ascending"/>
          </Sorting>
          <Columns>
<ix:Column For="RecordNo" LinkTo="AuditMgmt_Doc_Detail_Readonly/View?entityid={#Id}" LinkTarget="popup" width="5px"/>
<ix:Column For="Title" wrap="true"/>
<ix:Column For="Description" DisplayAs="Truncate" wrap="true"/>
            <ix:MergeColumn For="Type.Code" Caption="Attachment" meta:resourcekey="MergeColumn11" ResourceKey="MergeColumn11">
              <MappedColumns>
<ix:Column MapValue="FILE" For="File"/>
<ix:Column MapValue="URL" For="URL"/>
<ix:Column MapValue="DOCCTRL" For="Document"/>
                <ix:TemplateColumn For="Type" MapValue="PRIVATEDOCATTACHMENT" Caption="Attachment" LinKTarget="popup" width="50px" meta:resourcekey="TemplateColumn9" ResourceKey="TemplateColumn9">
                  <template>
                    <a class="openInPopup" href="<%= HttpEnvironment.SystemApplicationPath %>/Forms/AuditMgmt_PrivateDocAttachment_Popup/View?entityId=<%# Container.ViewData.Eval("Id") %>">
View Private Document Attachment
                    </a>
                  </template>
                </ix:TemplateColumn>
              </MappedColumns>
            </ix:MergeColumn>
            <ix:MergeColumn For="Source.Code" Caption="Source" meta:resourcekey="MergeColumn12" ResourceKey="MergeColumn12">
              <MappedColumns>
<ix:Column MapValue="QUESTIONNAIRE" For="Questionnaire.Checklist"/>
<ix:Column MapValue="RESPONSE" For="Response.PubQuestion.QuestionText"/>
<ix:Column MapValue="FINDING" For="Finding"/>
              </MappedColumns>
            </ix:MergeColumn>
          </Columns>
        </ix:GridSection>
      </ix:StageContainer>
<ix:WorkflowTracking DisplayMode="Edit,View" IsCollapsed="true"/>
<ix:MailMergeTemplates ID="MailMergeFragmentGridSection"/>
    </ix:DetailPage>
    <style type="text/css">
<%= ApplicationSettings.Get("AuditMgmt_PreferencesObject","CustomCSS","")  %>
<%= ApplicationSettings.Get("CFW_PreferencesObject","CustomCSS","")  %>
.actionlLink{
display: none !important;
}
.gridUploadMergeLink{
display: none;
}
.gridRemoveMergeLink{
display: none;
                          }
    </style>