@import 'tailwindcss/utilities';

input[type="checkbox"] {
    background: rgba(40,40,40,0);
    color:black;
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
}

input[type="checkbox"]:checked {
    background: rgba(254,187,16,1);
    background-image: url('@/assets/utility/check.png');
    background-size: 80% 80%;
    background-position: center;
    background-repeat: no-repeat;
}

.selected-overlay {
    position: relative;
}

.selected-overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent grey */
    z-index: 5; /* Ensuring it's above the content but below the checkbox */
    border-radius: 0.75rem;
}


/* .search-container {
    position: relative;
    display: inline-block;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}
 */
