@import 'tailwindcss/utilities';

/* .search-container {
    position: relative;
    display: inline-block;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}
 */
