@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: var(--font-urbanist);
  scroll-behavior: smooth;
}

:root {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

@layer base {
  :root {
    @apply custom-scrollbar;

    --default: var(--foreground);
    --foreground: var(--secondary); /* Off Black */
    --foreground-dark: var(--secondary-dark);

    /* Off White */
    --primary-dark: 0 0% 85%;
    --primary: 0 0% 90%;
    --primary-light: 0 0% 95%;
    --primary-foreground: var(--secondary);

    /* Off Black */
    --secondary-dark: 0 0% 0%;
    --secondary: 0 0% 8%;
    --secondary-light: 0 0% 27%;
    --secondary-foreground: var(--foreground);

    /* Yellow */
    --accent-dark: 43 99% 37%;
    --accent: 43 99% 53%;
    --accent-light: 43 99% 63%;
    --accent-foreground: 0 0% 12%;

    /* Blue */
    --accent2-dark: 200 90% 55%;
    --accent2: 200 90% 70%;
    --accent2-light: 200 90% 84%;
    --accent2-foreground: 0 0% 85%;

    --background: var(--secondary);
    --foreground: var(--primary);

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    /* Off White */
    --popover: var(--background);
    --popover-foreground: var(--foreground);

    /* Red */
    --destructive: 0 65% 20%;
    --destructive-foreground: 0 0% 85%;

    --border: 0 0% 50%;
    --input: 0 0% 50%;
    --ring: 0 0% 50%;

    --radius: 0.5rem;

    /* for react swipe  */
    --swiper-theme-color: #febb10;

    /* Green */
    --green: 112 41% 76%;

    /* Light red */
    --red: 0 44% 75%;
  }

  .dark {
    @apply custom-scrollbar;

    --default: var(--foreground);
    --foreground: var(--secondary);
    --foreground-dark: 0 0% 60%;

    /* Off Black */
    --primary-dark: 0 0% 0%;
    --primary: 0 0% 8%;
    --primary-light: 0 0% 27%;
    --primary-foreground: var(--foreground);

    /* Off White */
    --secondary-dark: 0 0% 85%;
    --secondary: 0 0% 90%;
    --secondary-light: 0 0% 95%;
    --secondary-foreground: var(--primary);

    /* Yellow */
    --accent-dark: 43 99% 37%;
    --accent: 43 99% 53%;
    --accent-light: 43 99% 63%;
    --accent-foreground: 0 0% 12%;

    /* Blue */
    --accent2-dark: 200 60% 30%;
    --accent2: 200 90% 50%;
    --accent2-light: 200 90% 60%;
    --accent2-foreground: 0 0% 85%;

    --background: var(--primary);
    --foreground: var(--secondary);

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    /* Off White */
    --popover: var(--background);
    --popover-foreground: var(--foreground);

    /* Red */
    --destructive: 0 65% 20%;
    --destructive-foreground: 0 0% 85%;

    --border: 0 0% 50%;
    --input: 0 0% 50%;
    --ring: 0 0% 50%;

    --radius: 0.5rem;

    /* for react swipe  */
    --swiper-theme-color: #febb10;
  }
}

@layer utilities {
  .title {
    @apply font-medium tracking-[-0.02em] leading-tight;
    @apply text-[36px] sm:text-[40px] md:text-[48px] lg:text-[64px];
  }

  .h2 {
    @apply font-medium tracking-[-0.02em] leading-tight;
    @apply text-[32px] sm:text-[36px] md:text-[40px] lg:text-[48px];
  }

  .h3 {
    @apply font-medium tracking-[-0.02em];
    @apply text-[22px] sm:text-[26px] md:text-[30px] lg:text-[36px];
  }

  .subtitle {
    @apply font-normal;
    @apply text-[18px] sm:text-[22px] md:text-[26px];
  }

  .big {
    @apply font-normal;
    @apply text-[16px] sm:text-[20px] md:text-[24px];
  }

  .body {
    @apply font-medium;
    @apply text-[13px] md:text-[14px] lg:text-[16px];
  }

  .bold {
    @apply font-semibold;
    @apply text-[13px] md:text-[14px] lg:text-[16px];
  }

  .small {
    @apply font-normal;
    @apply text-[11px] md:text-[12px] lg:text-[14px];
  }

  .pretitle {
    @apply font-semibold tracking-[0.03em];
    @apply text-[10px] md:text-[12px] lg:text-[14px];
  }

  .button-text {
    @apply font-medium tracking-wide cursor-pointer hover:text-accent;
    @apply text-[12px] md:text-[14px] lg:text-[16px];
  }

  .link-text {
    @apply font-semibold underline;
    @apply text-[12px] md:text-[14px] lg:text-[16px];
  }

  /* TO BE DELETED AFTER MIGRATING ALL TO THE NEW TYPOGRAPHY */
  .h1-bold {
    @apply text-[36px] font-bold leading-[140%] tracking-tighter;
  }

  .h1-semibold {
    @apply text-[36px] font-semibold leading-[140%] tracking-tighter;
  }

  .h2-bold {
    @apply text-[30px] font-bold leading-[140%] tracking-tighter;
  }

  .h3-bold {
    @apply text-[24px] font-bold leading-[140%] tracking-tighter;
  }

  .base-semibold {
    @apply text-[16px] font-semibold leading-[140%] tracking-tighter;
  }

  .base-medium {
    @apply text-[16px] font-medium leading-[140%];
  }

  .base-regular {
    @apply text-[16px] font-normal leading-[140%];
  }

  .body-bold {
    @apply text-[18px] font-bold leading-[140%];
  }

  .body-medium {
    @apply text-[18px] font-medium leading-[140%];
  }

  .small-semibold {
    @apply text-[14px] font-semibold leading-[140%] tracking-tighter;
  }

  .small-medium {
    @apply text-[14px] font-medium leading-[140%];
  }

  .small-regular {
    @apply text-[14px] font-normal leading-[140%];
  }

  .subtle-semibold {
    @apply text-[12px] font-semibold leading-[140%];
  }

  .tiny-medium {
    @apply text-[10px] font-medium leading-[140%];
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-start {
    @apply flex items-center justify-start;
  }

  .custom-scrollbar::-webkit-scrollbar {
    @apply w-[8px] h-[8px] rounded-full border-[50px];
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-primary;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-secondary/70 border-[50px];
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }

  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .common-container {
    @apply flex flex-col items-center flex-1 p-10 px-5 overflow-scroll xl:pt-20 gap-x-10 gap-y-6 custom-scrollbar;
  }

  /* All Users */
  .user-container {
    @apply flex flex-col items-start w-full max-w-5xl gap-6 md:gap-9;
  }

  .user-grid {
    @apply grid w-full max-w-5xl grid-cols-1 xs:grid-cols-2 md:chgrid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-7;
  }

  /* Wave */
  .wave {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .top-wave {
    top: -5px;
    transform: rotate(180deg);
  }

  .bottom-wave {
    bottom: -10px;
  }

  .wave svg {
    position: relative;
    display: block;
    width: calc(277% + 1.3px);
    @apply md:h-[200px] lg:h-[250px];
  }

  .shape-fill {
    fill: hsl(var(--primary));
  }

  .top-image {
    @apply absolute z-20 scale-[0.9] rotate-[-10deg] rounded-lg object-cover md:w-[200px] lg:w-[250px];
    @apply -translate-y-1/2 -translate-x-2/3 top-1/2 left-1/2 transform-gpu;
  }

  .bottom-image {
    @apply relative z-10 rotate-[10deg] object-cover rounded-lg md:w-[200px] lg:w-[250px];
    @apply translate-x-[20px];
  }

  .landing-btn {
    @apply w-full px-1 py-2 mt-2 rounded-md button-text;
  }

  .button-sizing {
    @apply h-[32px] w-[120px] md:w-[150px] md:h-[40px];
  }

  .feature-col {
    @apply flex justify-between w-full mt-10 md:w-auto md:mt-0 md:flex-col gap-x-6 gap-y-10;
  }

  .feature-container {
    @apply flex flex-col items-start gap-y-1 w-[160px];
  }

  /* Explore Container */
  .explore-container {
    @apply flex flex-col items-center flex-1 w-full h-full mx-auto gap-y-0;
  }

  /* Search Container */
  .explore-search_container {
    @apply mx-auto lg:max-w-[1280px] w-full sticky top-0 z-50;
    @apply p-8 pb-4 border-b gap-x-10 gap-y-10 bg-primary border-primary-light;
  }

  /* Inner Container */
  .explore-inner_container {
    @apply flex flex-col items-center w-full gap-6 md:gap-9;
    @apply overflow-scroll custom-scrollbar;
  }

  /* Innermost Container */
  .explore-innermost {
    @apply flex flex-col flex-1 items-center mx-auto max-w-[1024px] w-full;
    @apply px-5 md:px-8 md:pt-6 gap-x-10 gap-y-10;
  }

  /* Home */
  .home-container {
    @apply flex flex-col items-center flex-1 gap-10 overflow-scroll custom-scrollbar;
    @apply p-4 md:p-6 lg:p-10 xl:pt-20;
  }

  .home-posts {
    @apply flex flex-col items-center w-full max-w-screen-lg gap-6 md:gap-9;
  }

  .home-creators {
    @apply flex-col hidden gap-10 px-6 py-10 overflow-scroll xl:flex w-72 2xl:w-465 custom-scrollbar;
  }

  /* Post Details */
  .post_details-container {
    @apply flex flex-col items-center flex-1 gap-10 px-5 py-10 overflow-scroll md:p-14 custom-scrollbar;
  }

  .post_details-card {
    @apply bg-primary w-full max-w-5xl rounded-[30px] flex-col flex xl:flex-row border border-dark-4 xl:rounded-l-[24px];
  }

  .post_details-img {
    @apply h-80 lg:h-[480px] xl:w-[48%] rounded-t-[30px] xl:rounded-l-[24px] xl:rounded-tr-none object-cover p-5 bg-primary;
  }

  .post_details-info {
    @apply bg-primary flex flex-col gap-5 lg:gap-7 flex-1 items-start p-8 rounded-[30px];
  }

  .post_details-delete_btn {
    @apply flex gap-3 p-0 hover:bg-transparent hover:text-secondary text-secondary small-medium lg:base-medium;
  }

  /* Profile */
  .profile-container {
    @apply flex flex-col items-center flex-1 gap-10 px-5 py-10 overflow-scroll md:p-14 custom-scrollbar;
  }

  .profile-inner_container {
    @apply relative flex flex-col items-center w-full max-w-5xl gap-8 md:mb-8 xl:items-start xl:flex-row;
  }

  .profile-tab {
    @apply flex-1 w-48 gap-3 py-4 transition flex-center bg-primary xl:flex-initial;
  }

  /* Saved */
  .saved-container {
    @apply flex flex-col items-center flex-1 gap-10 px-5 py-10 overflow-scroll md:p-14 custom-scrollbar;
  }

  /* Film details */
  .film-container {
    /* @apply flex flex-1 p-0 overflow-y-scroll custom-scrollbar; */
    @apply container flex flex-col items-center flex-1 w-full h-full mx-auto gap-y-0;
    /* @apply overflow-scroll custom-scrollbar; */
  }

  .film-page-inner {
    /* @apply flex flex-col mx-auto top-0 w-full max-w-[1024px]; */
    /* @apply gap-10 px-5 py-10 md:gap-0 md:py-0 md:px-8; */
    @apply flex flex-col items-center w-full gap-6 md:gap-9;
  }

  .film-img-container {
    @apply aspect-w-[1] aspect-h-[1.778] -mx-10 -mt-20 -mb-36;
    @apply sm:aspect-w-[1.6] sm:aspect-h-1 sm:-mx-20 sm:-mt-8 sm:-mb-2;
    @apply md:aspect-w-[1.4] md:aspect-h-1 md:-mx-20 md:-mt-0 md:-mb-0;
  }

  .confirmedfilm-img-container {
    @apply aspect-w-[1] aspect-h-[1.2] -mx-10 -mt-20 -mb-36;
    @apply sm:aspect-w-[1.6] sm:aspect-h-1 sm:-mx-20 sm:-mt-8 sm:-mb-2;
    @apply md:aspect-w-[1.4] md:aspect-h-1 md:-mx-20 md:-mt-0 md:-mb-0;
  }

  .film-img {
    @apply object-cover w-full h-full;
  }

  .film-img-mask {
    @apply absolute left-0 right-0 h-[105%];
    background-image:
      /* left and right */ linear-gradient(
        90deg,
        hsl(var(--primary) / 100%) 0,
        hsl(var(--primary) / 98.6%) 0.97%,
        hsl(var(--primary) / 94.5%) 2%,
        hsl(var(--primary) / 88.3%) 3.3%,
        hsl(var(--primary) / 80.3%) 4.6%,
        hsl(var(--primary) / 71.1%) 6%,
        hsl(var(--primary) / 61%) 7.4%,
        hsl(var(--primary) / 50.4%) 8.8%,
        hsl(var(--primary) / 39.8%) 10.2%,
        hsl(var(--primary) / 29.6%) 11.5%,
        hsl(var(--primary) / 20.3%) 12.8%,
        hsl(var(--primary) / 12.2%) 14%,
        hsl(var(--primary) / 5.9%) 15%,
        hsl(var(--primary) / 1.6%) 15.9%,
        hsl(var(--primary) / 0%) 16.7%,
        hsl(var(--primary) / 0%) 83.3%,
        hsl(var(--primary) / 0) 83.3%,
        hsl(var(--primary) / 1.6%) 84.1%,
        hsl(var(--primary) / 5.9%) 84.9%,
        hsl(var(--primary) / 12.2%) 86%,
        hsl(var(--primary) / 20.3%) 87.2%,
        hsl(var(--primary) / 29.6%) 88.5%,
        hsl(var(--primary) / 39.8%) 89.8%,
        hsl(var(--primary) / 50.4%) 91.2%,
        hsl(var(--primary) / 61%) 92.6%,
        hsl(var(--primary) / 71.1%) 94%,
        hsl(var(--primary) / 80.3%) 95.4%,
        hsl(var(--primary) / 88.3%) 96.7%,
        hsl(var(--primary) / 94.5%) 97.9%,
        hsl(var(--primary) / 98.6%) 99%,
        hsl(var(--primary) / 100%)
      ),
      /* bottom to top */
        linear-gradient(
          0deg,
          hsl(var(--primary) / 100%) 0,
          hsl(var(--primary) / 100%) 21.5%,
          hsl(var(--primary) / 98%) 23.6%,
          hsl(var(--primary) / 94.5%) 26.1%,
          hsl(var(--primary) / 88.3%) 28.8%,
          hsl(var(--primary) / 80.3%) 31.7%,
          hsl(var(--primary) / 71.1%) 34.7%,
          hsl(var(--primary) / 61%) 37.8%,
          hsl(var(--primary) / 50.4%) 41%,
          hsl(var(--primary) / 39.8%) 44.1%,
          hsl(var(--primary) / 29.6%) 47.1%,
          hsl(var(--primary) / 20.3%) 49.9%,
          hsl(var(--primary) / 12.2%) 52.5%,
          hsl(var(--primary) / 5.9%) 54.9%,
          hsl(var(--primary) / 1.6%) 56.9%,
          hsl(var(--primary) / 0) 58.5%
        );
  }

  .film-info-container {
    @apply relative flex -top-52 md:-top-72;
  }

  .film-small-poster {
    @apply w-[200px] md:w-[250px] rounded-md border border-secondary/30;
  }

  /* Event details */
  .event-container {
    @apply flex flex-1 p-0 overflow-scroll custom-scrollbar;
  }

  .event-page-inner {
    @apply flex flex-col w-full max-w-[1024px] mx-auto;
    @apply gap-10 px-5 py-10 md:gap-0 md:py-0 md:px-8;
  }

  .event-img-container {
    @apply aspect-w-[1] aspect-h-[0.99] -mx-10 -mt-20 -mb-36;
    @apply sm:aspect-w-[1.6] sm:aspect-h-1 sm:-mx-20 sm:-mt-8 sm:-mb-2;
    @apply md:aspect-w-[1.4] md:aspect-h-1 md:-mx-20 md:-mt-0 md:-mb-0;
  }

  .event-img {
    @apply object-cover w-full h-full;
  }

  .event-img-mask {
    @apply absolute;
    background-image:
      /* left and right */ linear-gradient(
        90deg,
        hsl(var(--primary) / 100%) 0,
        hsl(var(--primary) / 98.6%) 0.97%,
        hsl(var(--primary) / 94.5%) 2%,
        hsl(var(--primary) / 88.3%) 3.3%,
        hsl(var(--primary) / 80.3%) 4.6%,
        hsl(var(--primary) / 71.1%) 6%,
        hsl(var(--primary) / 61%) 7.4%,
        hsl(var(--primary) / 50.4%) 8.8%,
        hsl(var(--primary) / 39.8%) 10.2%,
        hsl(var(--primary) / 29.6%) 11.5%,
        hsl(var(--primary) / 20.3%) 12.8%,
        hsl(var(--primary) / 12.2%) 14%,
        hsl(var(--primary) / 5.9%) 15%,
        hsl(var(--primary) / 1.6%) 15.9%,
        hsl(var(--primary) / 0%) 16.7%,
        hsl(var(--primary) / 0%) 83.3%,
        hsl(var(--primary) / 0) 83.3%,
        hsl(var(--primary) / 1.6%) 84.1%,
        hsl(var(--primary) / 5.9%) 84.9%,
        hsl(var(--primary) / 12.2%) 86%,
        hsl(var(--primary) / 20.3%) 87.2%,
        hsl(var(--primary) / 29.6%) 88.5%,
        hsl(var(--primary) / 39.8%) 89.8%,
        hsl(var(--primary) / 50.4%) 91.2%,
        hsl(var(--primary) / 61%) 92.6%,
        hsl(var(--primary) / 71.1%) 94%,
        hsl(var(--primary) / 80.3%) 95.4%,
        hsl(var(--primary) / 88.3%) 96.7%,
        hsl(var(--primary) / 94.5%) 97.9%,
        hsl(var(--primary) / 98.6%) 99%,
        hsl(var(--primary) / 100%)
      ),
      /* bottom to top */
        linear-gradient(
          0deg,
          hsl(var(--primary) / 100%) 0,
          hsl(var(--primary) / 100%) 21.5%,
          hsl(var(--primary) / 98%) 23.6%,
          hsl(var(--primary) / 94.5%) 26.1%,
          hsl(var(--primary) / 88.3%) 28.8%,
          hsl(var(--primary) / 80.3%) 31.7%,
          hsl(var(--primary) / 71.1%) 34.7%,
          hsl(var(--primary) / 61%) 37.8%,
          hsl(var(--primary) / 50.4%) 41%,
          hsl(var(--primary) / 39.8%) 44.1%,
          hsl(var(--primary) / 29.6%) 47.1%,
          hsl(var(--primary) / 20.3%) 49.9%,
          hsl(var(--primary) / 12.2%) 52.5%,
          hsl(var(--primary) / 5.9%) 54.9%,
          hsl(var(--primary) / 1.6%) 56.9%,
          hsl(var(--primary) / 0) 58.5%
        );
  }

  .event-info-container {
    @apply relative flex -top-52 md:-top-72;
  }

  .event-small-poster {
    @apply w-[200px] md:w-[250px] rounded-md border border-secondary/30;
  }

  .invert-white {
    @apply transition invert brightness-0;
  }

  .overlay-buttons {
    @apply absolute bottom-0 right-0 z-20 flex items-center justify-center hover:bg-black/50;
  }

  .overlay-button {
    @apply w-full h-full border-0 bg-black/50 text-[30px] flex-center;
  }

  .overlay-message {
    @apply w-full h-20 border-0 bg-black/50 flex-center;
  }

  /* File uploader */
  .file_uploader-img {
    @apply h-80 w-full lg:h-[480px] lg:w-[480px] rounded-[24px] object-cover;
  }

  .file_uploader-label {
    @apply w-full p-4 text-center border text-primary-foreground small-regular border-primary;
  }

  .file_uploader-box {
    @apply flex-center flex-col p-7 h-[100px] lg:h-[200px];
  }

  /* Grid Post List */
  .grid-container {
    @apply grid w-full max-w-5xl grid-cols-1 sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-7;
  }

  .grid-post_link {
    @apply flex rounded-[24px] border border-dark-4 overflow-hidden cursor-pointer w-full h-full;
  }

  .grid-post_user {
    @apply absolute bottom-0 p-5 flex-between w-full bg-gradient-to-t from-dark-3 to-transparent rounded-b-[24px] gap-2;
  }

  /* Post Card */
  .post-card {
    @apply w-full max-w-screen-sm p-5 border bg-primary rounded-3xl border-dark-4 lg:p-7;
  }

  .post-card_img {
    @apply h-64 xs:h-[400px] lg:h-[450px] w-full rounded-[24px] object-cover mb-5;
  }

  /* Topbar */
  .topbar {
    @apply absolute top-0 z-50 w-full h-auto;
    /* @apply bg-primary/90 backdrop-blur; */
  }

  .transTopbar {
    @apply top-0 z-50 w-full h-[80px] absolute bg-transparent;
    /* top to bottom */ 
    /* background-image:
   linear-gradient(
      180deg,
      hsl(var(--primary) / 100%) 0,
      hsl(var(--primary) / 98.6%) 0.97%,
      hsl(var(--primary) / 94.5%) 2%,
      hsl(var(--primary) / 88.3%) 3.3%,
      hsl(var(--primary) / 80.3%) 4.6%,
      hsl(var(--primary) / 71.1%) 6%,
      hsl(var(--primary) / 61%) 7.4%,
      hsl(var(--primary) / 50.4%) 8.8%,
      hsl(var(--primary) / 39.8%) 10.2%,
      hsl(var(--primary) / 29.6%) 11.5%,
      hsl(var(--primary) / 20.3%) 12.8%,
      hsl(var(--primary) / 12.2%) 14%,
      hsl(var(--primary) / 5.9%) 15%,
      hsl(var(--primary) / 1.6%) 15.9%,
      hsl(var(--primary) / 0%) 16.7%,
    ); */
  }

  /* Left sidebar */
  .leftsidebar {
    z-index: 60;
    @apply top-0 left-0 flex-col justify-between hidden h-full overflow-hidden xl:flex;
    @apply bg-primary/90 backdrop-blur-xl;
    @apply transition-all duration-700 ease-in-out hover:w-[300px] xl:w-[130px];
  }

  .leftsidebar-link {
    @apply relative flex items-center h-[115px] gap-4 transition rounded-lg pr-14 base-medium;
    @apply [&_*]:hover:text-accent;
  }

  .leftsidebar-text {
    @apply transition-all duration-300 ease-in-out transform opacity-0 group-hover:opacity-100;
  }

  .leftsidebar-logo {
    @apply flex-shrink-0 text-accent/80 text-[40px];
  }

  .leftsidebar-line {
    @apply flex-shrink-0 w-1 h-full rounded-xl;
  }

  .poster-collage {
    @apply rounded-sm absolute w-[160px] sm:w-[290px] md:w-[360px] lg:w-[280px] xl:w-[300px];
    @apply top-0 xl:top-1/2;
  }

  /* Bottom bar */
  .bottom-bar {
    @apply sticky bottom-0 z-50 w-full px-2 py-1 border-t bg-primary/90 backdrop-blur-xl border-primary-light flex-between;
    @apply md:px-8 xl:hidden;
  }
}

@layer components {
  /* SHADCN COMPONENTS */
  /* Form */
  .shad-form_label {
    @apply text-white !important;
  }

  .shad-form_message {
    @apply text-red !important;
  }

  .shad-input {
    @apply h-12 bg-primary border-none placeholder:text-secondary focus-visible:ring-1 focus-visible:ring-offset-1 ring-offset-secondary !important;
  }

  .shad-textarea {
    @apply h-36 bg-primary rounded-xl border-none focus-visible:ring-1 focus-visible:ring-offset-1 ring-offset-secondary !important;
  }

  /* Button */
  .shad-button_primary {
    @apply bg-primary hover:bg-primary text-secondary flex gap-2 !important;
  }

  .shad-button_dark_4 {
    @apply h-12 bg-primary px-5 text-primary-foreground flex gap-2 !important;
  }

  .shad-button_ghost {
    @apply flex gap-4 items-center justify-start hover:bg-transparent hover:text-white !important;
  }

  .AccordionContent {
    overflow: hidden;
  }
  .AccordionContent[data-state="open"] {
    animation: slideDown 300ms ease-out;
  }
  .AccordionContent[data-state="closed"] {
    animation: slideUp 300ms ease-out;
  }

  .highlight-text {
    background: linear-gradient(
      to bottom,
      hsl(var(--accent-dark) / 0%),
      hsl(var(--accent-dark) / 0%),
      hsl(var(--accent-dark) / 100%),
      hsl(var(--accent-dark) / 0%)
    );
  }

  .custom-z-index {
    z-index: 100;
  }
}
