@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  list-style: none;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-urbanist);
  overflow-y: hidden;
}

@layer base {
  #root {
    @apply flex flex-col h-screen overflow-hidden;
  }

  :root {
    @apply min-h-screen bg-background text-foreground;

    --background: 0 0% 12%;
    --foreground: 0 0% 85%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    /* Off White */
    --popover: 0 0% 85%;
    --popover-foreground: 0 0% 12%;

    /* Off Black */
    --primary: 0 0% 8%;
    --primary-foreground: 0 0% 85%;

    /* Off White */
    --secondary: 0 0% 85%;
    --secondary-foreground: 0 0% 12%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    /* Yellow - Off Black */
    --accent: 43 99% 53%;
    --accent-foreground: 0 0% 12%;

    /* Purple */
    --accent2: 220 100% 80%;
    --accent2-foreground: 0 0% 85%;

    /* Red */
    --destructive: 0 100% 30%;
    --destructive-foreground: 0 0% 85%;

    --border: 0 0% 50%;
    --input: 0 0% 50%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    /* for react swipe  */
    --swiper-theme-color: #febb10;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer utilities {
  .title {
    @apply font-[500] tracking-[-0.02em];
    @apply text-[36px];
  }

  .h2 {
    @apply font-semibold tracking-[-0.02em];
    @apply text-[28px];
  }

  .h3 {
    @apply font-semibold tracking-[-0.02em];
    @apply text-[18px];
  }

  .subtitle {
    @apply font-medium;
    @apply text-[18px];
  }

  .body {
    @apply font-medium;
    @apply text-[12px];
  }

  .bold {
    @apply font-bold;
    @apply text-[12px];
  }

  .small {
    @apply font-normal;
    @apply text-[10px];
  }

  .pretitle {
    @apply font-bold tracking-[0.03em];
    @apply text-[10px];
  }

  .button-text {
    @apply font-medium;
    @apply text-[14px];
  }

  .link-text {
    @apply font-semibold underline;
    @apply text-[12px];
  }

  /* TO BE DELETED AFTER MIGRATING ALL TO THE NEW TYPOGRAPHY */
  .h1-bold {
    @apply text-[36px] font-bold leading-[140%] tracking-tighter;
  }

  .h1-semibold {
    @apply text-[36px] font-semibold leading-[140%] tracking-tighter;
  }

  .h2-bold {
    @apply text-[30px] font-bold leading-[140%] tracking-tighter;
  }

  .h3-bold {
    @apply text-[24px] font-bold leading-[140%] tracking-tighter;
  }

  .base-semibold {
    @apply text-[16px] font-semibold leading-[140%] tracking-tighter;
  }

  .base-medium {
    @apply text-[16px] font-medium leading-[140%];
  }

  .base-regular {
    @apply text-[16px] font-normal leading-[140%];
  }

  .body-bold {
    @apply text-[18px] font-bold leading-[140%];
  }

  .body-medium {
    @apply text-[18px] font-medium leading-[140%];
  }

  .small-semibold {
    @apply text-[14px] font-semibold leading-[140%] tracking-tighter;
  }

  .small-medium {
    @apply text-[14px] font-medium leading-[140%];
  }

  .small-regular {
    @apply text-[14px] font-normal leading-[140%];
  }

  .subtle-semibold {
    @apply text-[12px] font-semibold leading-[140%];
  }

  .tiny-medium {
    @apply text-[10px] font-medium leading-[140%];
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-start {
    @apply flex items-center justify-start;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-primary;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-secondary/70 border-[50px];
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }

  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .common-container {
    @apply flex flex-col items-center flex-1 px-5 overflow-scroll gap-x-10 gap-y-6 md:px-8 lg:p-14 custom-scrollbar;
  }

  /* All Users */
  .user-container {
    @apply flex flex-col items-start w-full max-w-5xl gap-6 md:gap-9;
  }

  .user-grid {
    @apply grid w-full max-w-5xl grid-cols-1 xs:grid-cols-2 md:chgrid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-7;
  }

  /* Explore Container */
  .explore-container {
    @apply flex flex-col items-center flex-1 w-full h-full mx-auto gap-y-0;
  }

  /* Search Container */
  .explore-search_container {
    @apply mx-auto lg:max-w-[1280px] w-full sticky top-0 z-50;
    @apply p-8 pb-4 border-b gap-x-10 gap-y-10 bg-primary border-primary-light;
  }

  /* Inner Container */
  .explore-inner_container {
    @apply flex flex-col items-center w-full gap-6 overflow-scroll custom-scrollbar md:gap-9;
  }

  /* Innermost Container */
  .explore-innermost {
    @apply flex flex-col flex-1 items-center mx-auto max-w-[1024px] w-full;
    @apply px-5 md:px-8 md:pt-6 gap-x-10 gap-y-10;
  }

  /* Home */
  .home-container {
    @apply flex flex-col items-center flex-1 gap-10 overflow-scroll custom-scrollbar;
    @apply px-5 pt-28 md:pb-10 md:px-8 lg:px-14 xl:pt-10;
  }

  .home-posts {
    @apply flex flex-col items-center w-full max-w-screen-lg gap-6 md:gap-9;
  }

  .home-creators {
    @apply flex-col hidden gap-10 px-6 py-10 overflow-scroll xl:flex w-72 2xl:w-465 custom-scrollbar;
  }

  /* Post Details */
  .post_details-container {
    @apply flex flex-col items-center flex-1 gap-10 px-5 py-10 overflow-scroll md:p-14 custom-scrollbar;
  }

  .post_details-card {
    @apply bg-primary w-full max-w-5xl rounded-[30px] flex-col flex xl:flex-row border border-dark-4 xl:rounded-l-[24px];
  }

  .post_details-img {
    @apply h-80 lg:h-[480px] xl:w-[48%] rounded-t-[30px] xl:rounded-l-[24px] xl:rounded-tr-none object-cover p-5 bg-primary;
  }

  .post_details-info {
    @apply bg-primary flex flex-col gap-5 lg:gap-7 flex-1 items-start p-8 rounded-[30px];
  }

  .post_details-delete_btn {
    @apply flex gap-3 p-0 hover:bg-transparent hover:text-secondary text-secondary small-medium lg:base-medium;
  }

  /* Profile */
  .profile-container {
    @apply flex flex-col items-center flex-1 gap-10 px-5 py-10 overflow-scroll md:p-14 custom-scrollbar;
  }

  .profile-inner_container {
    @apply relative flex flex-col items-center w-full max-w-5xl gap-8 md:mb-8 xl:items-start xl:flex-row;
  }

  .profile-tab {
    @apply flex-1 w-48 gap-3 py-4 transition flex-center bg-primary xl:flex-initial;
  }

  /* Saved */
  .saved-container {
    @apply flex flex-col items-center flex-1 gap-10 px-5 py-10 overflow-scroll md:p-14 custom-scrollbar;
  }

  /* Film details */
  .film-container {
    @apply flex flex-1 p-0 overflow-y-scroll custom-scrollbar;
  }

  .film-page-inner {
    @apply flex flex-col mx-auto top-0 w-full max-w-[1024px];
    @apply gap-10 px-5 py-10 md:gap-0 md:py-0 md:px-8;
  }

  .film-img-container {
    @apply aspect-w-[1] aspect-h-[1.778] -mx-10 -mt-20 -mb-36;
    @apply sm:aspect-w-[1.6] sm:aspect-h-1 sm:-mx-20 sm:-mt-8 sm:-mb-2;
    @apply md:aspect-w-[1.4] md:aspect-h-1 md:-mx-20 md:-mt-0 md:-mb-0;
  }

  .film-img {
    @apply object-cover w-full h-full;
  }

  .film-img-mask {
    @apply absolute;
    background-image:
      /* left and right */ linear-gradient(
        90deg,
        hsl(var(--primary) / 100%) 0,
        hsl(var(--primary) / 98.6%) 0.97%,
        hsl(var(--primary) / 94.5%) 2%,
        hsl(var(--primary) / 88.3%) 3.3%,
        hsl(var(--primary) / 80.3%) 4.6%,
        hsl(var(--primary) / 71.1%) 6%,
        hsl(var(--primary) / 61%) 7.4%,
        hsl(var(--primary) / 50.4%) 8.8%,
        hsl(var(--primary) / 39.8%) 10.2%,
        hsl(var(--primary) / 29.6%) 11.5%,
        hsl(var(--primary) / 20.3%) 12.8%,
        hsl(var(--primary) / 12.2%) 14%,
        hsl(var(--primary) / 5.9%) 15%,
        hsl(var(--primary) / 1.6%) 15.9%,
        hsl(var(--primary) / 0%) 16.7%,
        hsl(var(--primary) / 0%) 83.3%,
        hsl(var(--primary) / 0) 83.3%,
        hsl(var(--primary) / 1.6%) 84.1%,
        hsl(var(--primary) / 5.9%) 84.9%,
        hsl(var(--primary) / 12.2%) 86%,
        hsl(var(--primary) / 20.3%) 87.2%,
        hsl(var(--primary) / 29.6%) 88.5%,
        hsl(var(--primary) / 39.8%) 89.8%,
        hsl(var(--primary) / 50.4%) 91.2%,
        hsl(var(--primary) / 61%) 92.6%,
        hsl(var(--primary) / 71.1%) 94%,
        hsl(var(--primary) / 80.3%) 95.4%,
        hsl(var(--primary) / 88.3%) 96.7%,
        hsl(var(--primary) / 94.5%) 97.9%,
        hsl(var(--primary) / 98.6%) 99%,
        hsl(var(--primary) / 100%)
      ),
      /* bottom to top */
        linear-gradient(
          0deg,
          hsl(var(--primary) / 100%) 0,
          hsl(var(--primary) / 100%) 21.5%,
          hsl(var(--primary) / 98%) 23.6%,
          hsl(var(--primary) / 94.5%) 26.1%,
          hsl(var(--primary) / 88.3%) 28.8%,
          hsl(var(--primary) / 80.3%) 31.7%,
          hsl(var(--primary) / 71.1%) 34.7%,
          hsl(var(--primary) / 61%) 37.8%,
          hsl(var(--primary) / 50.4%) 41%,
          hsl(var(--primary) / 39.8%) 44.1%,
          hsl(var(--primary) / 29.6%) 47.1%,
          hsl(var(--primary) / 20.3%) 49.9%,
          hsl(var(--primary) / 12.2%) 52.5%,
          hsl(var(--primary) / 5.9%) 54.9%,
          hsl(var(--primary) / 1.6%) 56.9%,
          hsl(var(--primary) / 0) 58.5%
        );
  }

  .film-info-container {
    @apply relative flex -top-52 md:-top-72;
  }

  .film-small-poster {
    @apply w-[200px] md:w-[250px] rounded-md border border-secondary/30;
  }

  /* Event details */
  .event-container {
    @apply flex flex-1 p-0 overflow-scroll custom-scrollbar;
  }

  .event-page-inner {
    @apply flex flex-col w-full max-w-[1024px] mx-auto;
    @apply gap-10 px-5 py-10 md:gap-0 md:py-0 md:px-8;
  }

  .event-img-container {
    @apply aspect-w-[1] aspect-h-[0.99] -mx-10 -mt-20 -mb-36;
    @apply sm:aspect-w-[1.6] sm:aspect-h-1 sm:-mx-20 sm:-mt-8 sm:-mb-2;
    @apply md:aspect-w-[1.4] md:aspect-h-1 md:-mx-20 md:-mt-0 md:-mb-0;
  }

  .event-img {
    @apply object-cover w-full h-full;
  }

  .event-img-mask {
    @apply absolute;
    background-image:
      /* left and right */ linear-gradient(
        90deg,
        hsl(var(--primary) / 100%) 0,
        hsl(var(--primary) / 98.6%) 0.97%,
        hsl(var(--primary) / 94.5%) 2%,
        hsl(var(--primary) / 88.3%) 3.3%,
        hsl(var(--primary) / 80.3%) 4.6%,
        hsl(var(--primary) / 71.1%) 6%,
        hsl(var(--primary) / 61%) 7.4%,
        hsl(var(--primary) / 50.4%) 8.8%,
        hsl(var(--primary) / 39.8%) 10.2%,
        hsl(var(--primary) / 29.6%) 11.5%,
        hsl(var(--primary) / 20.3%) 12.8%,
        hsl(var(--primary) / 12.2%) 14%,
        hsl(var(--primary) / 5.9%) 15%,
        hsl(var(--primary) / 1.6%) 15.9%,
        hsl(var(--primary) / 0%) 16.7%,
        hsl(var(--primary) / 0%) 83.3%,
        hsl(var(--primary) / 0) 83.3%,
        hsl(var(--primary) / 1.6%) 84.1%,
        hsl(var(--primary) / 5.9%) 84.9%,
        hsl(var(--primary) / 12.2%) 86%,
        hsl(var(--primary) / 20.3%) 87.2%,
        hsl(var(--primary) / 29.6%) 88.5%,
        hsl(var(--primary) / 39.8%) 89.8%,
        hsl(var(--primary) / 50.4%) 91.2%,
        hsl(var(--primary) / 61%) 92.6%,
        hsl(var(--primary) / 71.1%) 94%,
        hsl(var(--primary) / 80.3%) 95.4%,
        hsl(var(--primary) / 88.3%) 96.7%,
        hsl(var(--primary) / 94.5%) 97.9%,
        hsl(var(--primary) / 98.6%) 99%,
        hsl(var(--primary) / 100%)
      ),
      /* bottom to top */
        linear-gradient(
          0deg,
          hsl(var(--primary) / 100%) 0,
          hsl(var(--primary) / 100%) 21.5%,
          hsl(var(--primary) / 98%) 23.6%,
          hsl(var(--primary) / 94.5%) 26.1%,
          hsl(var(--primary) / 88.3%) 28.8%,
          hsl(var(--primary) / 80.3%) 31.7%,
          hsl(var(--primary) / 71.1%) 34.7%,
          hsl(var(--primary) / 61%) 37.8%,
          hsl(var(--primary) / 50.4%) 41%,
          hsl(var(--primary) / 39.8%) 44.1%,
          hsl(var(--primary) / 29.6%) 47.1%,
          hsl(var(--primary) / 20.3%) 49.9%,
          hsl(var(--primary) / 12.2%) 52.5%,
          hsl(var(--primary) / 5.9%) 54.9%,
          hsl(var(--primary) / 1.6%) 56.9%,
          hsl(var(--primary) / 0) 58.5%
        );
  }

  .event-info-container {
    @apply relative flex -top-52 md:-top-72;
  }

  .event-small-poster {
    @apply w-[200px] md:w-[250px] rounded-md border border-secondary/30;
  }

  .invert-white {
    @apply transition invert brightness-0;
  }

  .overlay-buttons {
    @apply absolute bottom-0 right-0 z-20 flex flex-row items-center justify-center hover:bg-black/50;
  }

  .overlay-button {
    @apply w-full h-full border-0 bg-black/50 text-[30px] flex-center;
  }

  /* File uploader */
  .file_uploader-img {
    @apply h-80 w-full lg:h-[480px] lg:w-[480px] rounded-[24px] object-cover;
  }

  .file_uploader-label {
    @apply w-full p-4 text-center border text-primary-foreground small-regular border-primary;
  }

  .file_uploader-box {
    @apply flex-center flex-col p-7 h-[100px] lg:h-[200px];
  }

  /* Grid Post List */
  .grid-container {
    @apply grid w-full max-w-5xl grid-cols-1 sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-7;
  }

  .grid-post_link {
    @apply flex rounded-[24px] border border-dark-4 overflow-hidden cursor-pointer w-full h-full;
  }

  .grid-post_user {
    @apply absolute bottom-0 p-5 flex-between w-full bg-gradient-to-t from-dark-3 to-transparent rounded-b-[24px] gap-2;
  }

  /* Post Card */
  .post-card {
    @apply w-full max-w-screen-sm p-5 border bg-primary rounded-3xl border-dark-4 lg:p-7;
  }

  .post-card_img {
    @apply h-64 xs:h-[400px] lg:h-[450px] w-full rounded-[24px] object-cover mb-5;
  }

  /* Topbar */
  .topbar {
    /* @apply bg-primary-dark top-0 z-50 xl:hidden w-full h-[80px] sticky; */
    @apply absolute top-0 z-50 xl:hidden w-full h-[80px];
    @apply border-b bg-primary/90 backdrop-blur border-primary-light;
  }

  .transTopbar {
    @apply top-0 z-50 xl:hidden w-full h-[80px] absolute bg-transparent bg-gradient-to-b from-black;
    /* @apply top-0 z-50 xl:hidden w-full h-[80px] absolute bg-transparent bg-gradient-to-b from-black; */
  }

  /* Left sidebar */
  .leftsidebar {
    @apply hidden left-0 xl:flex flex-col justify-between xl:min-w-[200px] h-full;
    @apply py-10 border-r border-primary-light bg-primary/90;
    @apply transition-transform duration-700 ease-in-out transform;
  }

  .leftsidebar-link {
    @apply flex gap-4 pr-14 rounded-lg base-medium items-center transition [&_h2]:hover:bg-accent [&_*]:hover:text-accent;
  }
  

  /* Bottom bar */
  .bottom-bar {
    @apply sticky bottom-0 z-50 w-full px-2 py-1 border-t bg-primary/90 backdrop-blur-xl border-primary-light flex-between xl:hidden;
    /* @apply sticky bottom-0 z-50 w-full px-2 py-1 flex-between bg-primary-dark xl:hidden; */

  }

  /* User card */
  .user-card {
    @apply flex-center flex-col gap-4 border border-dark-4 rounded-[20px] px-5 py-8;
  }

  /* thread card  */
  .thread-card_bar {
    @apply relative mt-2 w-0.5 grow rounded-full bg-neutral-800;
  }
}

@layer components {
  /* SHADCN COMPONENTS */
  /* Form */
  .shad-form_label {
    @apply text-white !important;
  }

  .shad-form_message {
    @apply text-red !important;
  }

  .shad-input {
    @apply h-12 bg-primary border-none placeholder:text-secondary focus-visible:ring-1 focus-visible:ring-offset-1 ring-offset-secondary !important;
  }

  .shad-textarea {
    @apply h-36 bg-primary rounded-xl border-none focus-visible:ring-1 focus-visible:ring-offset-1 ring-offset-secondary !important;
  }

  /* Button */
  .shad-button_primary {
    @apply bg-primary-500 hover:bg-primary-500 text-secondary flex gap-2 !important;
  }

  .shad-button_dark_4 {
    @apply h-12 bg-primary px-5 text-primary-foreground flex gap-2 !important;
  }

  .shad-button_ghost {
    @apply flex gap-4 items-center justify-start hover:bg-transparent hover:text-white !important;
  }
  .highlight-text {
    background: linear-gradient(
      to bottom,
      hsl(var(--accent) / 0%),
      hsl(var(--accent) / 0%),
      hsl(var(--accent) / 100%),
      hsl(var(--accent) / 0%)
    );
  }
}
